<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>613643338072-d6o24asqfveg0s41v9fvquhp18ig7t9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613643338072-d6o24asqfveg0s41v9fvquhp18ig7t9h</string>
	<key>API_KEY</key>
	<string>AIzaSyD92ESL4lUwgg3IFvWpVSbsSa28uKtpdVs</string>
	<key>GCM_SENDER_ID</key>
	<string>613643338072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.arnefeil.ligatoolhamburg</string>
	<key>PROJECT_ID</key>
	<string>ligatool-44145</string>
	<key>STORAGE_BUCKET</key>
	<string>ligatool-44145.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:613643338072:ios:9a1641f76a61f3d9</string>
	<key>DATABASE_URL</key>
	<string>https://ligatool-44145.firebaseio.com</string>
</dict>
</plist>